# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\modul2\day1\khaibaoSudungbien\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
